.LayerBottom {
    height: 13%;
    width: 80%;
    background: linear-gradient(#E6C197, #f0a93f);
    border-radius: 10px;
    margin: 2% auto;
}

.Plate {
    height: 13%;
    width: 100%;
    background: linear-gradient(#cac9eb, #cbcff5);
    border-radius: 0 0 100% 100%;
    margin: 2% auto;
}

.LayerMiddle {
    height: 13%;
    width: 80%;
    background: linear-gradient(#f0d74a, #fcf949);
    border-radius: 10px;
    margin: 2% auto;
}

.LayerTop {
    height: 15%;
    width: 80%;
    background: linear-gradient(#c5733d, #f0a93f);
    border-radius: 30% 30% 0 0;
    margin: 2% auto;
    position: relative;
}

.Sparkles1 {
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: white;
    left: 30%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(-20deg);
    box-shadow: inset -2px -3px #c9c9c9;
}

.Sparkles1:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: -170%;
    top: -260%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -1px 2px #c9c9c9;
  }
  
.Sparkles1:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 180%;
    top: -50%;
    border-radius: 40%;
    transform: rotate(60deg);
    box-shadow: inset -1px -3px #c9c9c9;
  }

  .Sparkles2 {
    width: 10%;
    height: 15%;
    position: absolute;
    background-color: white;
    left: 64%;
    top: 50%;
    border-radius: 40%;
    transform: rotate(10deg);
    box-shadow: inset -3px 0 #c9c9c9;
  }
  
  .Sparkles2:before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: white;
    left: 150%;
    top: -130%;
    border-radius: 40%;
    transform: rotate(90deg);
    box-shadow: inset 1px 3px #c9c9c9;
  }
  

.StrawberryCream {
  background: repeating-radial-gradient(#e66465, #9198e5 20%);   
  background-size: 50px 60px;
  border-radius: 10px;
  content: " ";
  width: 85%;
  height: 25px;
  margin: auto;
}


.OrangeCream {
    width: 90%;
    height: 4.5%;
    margin: 2% auto;
    background: linear-gradient(#f4d004, #d6bb22);
    border-radius: 20px;
}

.VanillaCream {
    width: 85%;
    height: 7%;
    margin: 2% auto;
    background: linear-gradient(#228c1d, #91ce50);
    border-radius: 20px;
}

.ChockoCream {
    width: 80%;
    height: 6%;
    background: linear-gradient(brown, #c45e38);
    border-radius: 10px;
    margin: 2% auto;
}
